.articleData {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px 30px;
  box-sizing: border-box;
  color: var(--text);
  background: var(--bg-blue);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll !important;
  height: 100% !important;
  max-height: 70vh !important;

  display: flex;
  flex-direction: column;
  gap: 12px;

  .article-title,
  .articleBadge-editionMeta-doi-copyLink {
    text-align: center !important;

    span {
      text-align: center;
    }
  }

  h1 {
    font-weight: 500;
    color: var(--main-blue);
    font-size: 1.25rem;
  }

  h2 {
    font-weight: 500;
  }

  h3 {
    font-weight: 500;
  }

  .sections {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.articlesActions {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 1rem;
  gap: 1rem;
}
