.resultInfo {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);

    span {
      font-weight: 700;
    }
  }
}

.results {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  height: calc(100vh - 10rem);
  overflow-y: auto;
  background: var(--bg-blue);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: var(--main-blue);
  }
}

@media screen and (max-width: 768px) {

  .results {
    grid-template-columns: 1fr;
    height: calc(100vh - 15rem);
  } 
}
