.card {
  border-radius: 12px;
  background-color: var(--white);
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &:hover {
    transform: scale(1.02);
  }

  .cardHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    color: var(--main-blue);

    h3 {
      font-size: 1.25rem;
    }

    span {
      font-size: 0.75rem;
    }
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      color: var(--text);
      font-size: 1rem;
      color: var(--text);

      span {
        color: var(--main-blue);
      }

      .tag {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 12px;
        background-color: var(--white);
        color: var(--main-blue);
        border: 1px solid var(--main-blue);
        font-size: 0.75rem;
        margin-right: 0.5rem;

        &:first-child {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .cardDescription {
    font-size: 1rem;
    color: var(--text);
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .description {
      font-size: 0.875rem;
      line-height: 1.4;
    }

    .sectionTitle {
      font-weight: 500;
    }
  }
}
