.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 80px;
  width: 100%;

  .imageContainer {
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  .searchInput {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {

  .wrapper { 
    flex-direction: column;
    height: inherit;
  }
  

  .imageContainer {
    img {
      width: 175px;
    }
    
  }
}

